[submodule "thoughtbot/refactoring/null-object-part-one"]
	path = thoughtbot/refactoring/null-object-part-one
	url = git@github.com:Cro5s/null-object-part-one.git
[submodule "thoughtbot/refactoring/extract-value-object"]
	path = thoughtbot/refactoring/extract-value-object
	url = git@github.com:Cro5s/extract-value-object.git
[submodule "thoughtbot/refactoring/introduce-parameter-object"]
	path = thoughtbot/refactoring/introduce-parameter-object
	url = git@github.com:Cro5s/introduce-parameter-object.git
[submodule "thoughtbot/refactoring/null-object-part-two"]
	path = thoughtbot/refactoring/null-object-part-two
	url = git@github.com:Cro5s/null-object-part-two.git
[submodule "thoughtbot/refactoring/extract-validator"]
	path = thoughtbot/refactoring/extract-validator
	url = git@github.com:Cro5s/extract-validator.git
[submodule "thoughtbot/refactoring/cleaning-up-a-controller"]
	path = thoughtbot/refactoring/cleaning-up-a-controller
	url = git@github.com:Cro5s/cleaning-up-a-controller.git
[submodule "thoughtbot/refactoring/replace-conditional-with-polymorphism"]
	path = thoughtbot/refactoring/replace-conditional-with-polymorphism
	url = git@github.com:Cro5s/replace-conditional-with-polymorphism.git
